[data-border='true'] *:not(svg) + span {
  box-shadow: none !important;
}

[data-border='true'] {
  box-shadow: none !important;
}

[data-ui='PreviewCard'] [data-ui='Box'] span img {
  border-radius: 3px;
}

[data-ui='fieldHeaderContentBox'] label span,
legend span {
  font-size: large;
}

[data-testid='document-panel-document-title'] {
  font-weight: 300 !important;
}
[data-testid='field-groups'] {
  background-color: #eff1f2 !important;
  padding-bottom: 0% !important;
}

[data-testid='document-panel-scroller'] {
  background-color: #eff1f2;
}

[data-ui='Tab'] {
  background-color: #fcfcfc;
}

[data-ui='Tab'][data-selected] span {
  background-color: #242b31;
  color: #fcfcfc;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button'] {
  background-color: #9da2a5;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button'] span {
  color: #fcfcfc;
}

[data-ui='Stack'] > [data-ui='Flex'] > [data-ui='Button']:hover {
  background-color: #242b31;
}

[data-testid='action-Publicér'] {
  background-color: #3be086 !important;
  color: #242b31 !important;
}

[data-testid='action-Publicér'] span {
  color: #242b31 !important;
}
[data-testid='action-Publicér'] span span svg {
  color: #242b31 !important;
}
[data-as='form'] > [data-as='div'] > [data-ui='Text'] {
  display: none;
}

[data-ui='Navbar'] {
  background-color: #242b31 !important;
}
[data-ui='Navbar'] > [data-ui='Button'] {
  background-color: #242b31 !important;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a {
  background-color: #242b31;
  box-shadow: none;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a[data-selected] {
  background-color: #3be086;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a span {
  color: #fcfcfc;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] a[data-selected] span,
[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  a[data-selected]
  span
  svg {
  color: #242b31 !important;
}

[data-ui='Navbar'] > [data-ui='Grid'] > [data-ui='Flex'] button {
  background-color: #242b31;
  box-shadow: none;
  color: #fcfcfc;
}

[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button
  [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text'],
[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button
  [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text']
  svg {
  color: #fcfcfc;
}

[data-ui='Navbar']
  > [data-ui='Grid']
  > [data-ui='Flex']
  button[id='menu-button-resources'] {
  display: none;
}

/* button[data-ui='Button']
  > [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text'],
button[data-ui='Button']
  > [data-ui='Box']
  > [data-ui='Flex']
  > [data-ui='Text']
  span
  svg[data-sanity-icon='add'] {
  color: white !important;
}
 */
@font-face {
  font-family: 'SuperSans';
  src: url('/backend/fonts/SuperWorkSans-Regular.otf'),
    url('/backend/fonts/SuperWorkSans-Regular.woff2'),
    url('/backend/fonts/SuperWorkSans-Regular.woff'),
    url('/backend/fonts/SuperWorkSans-Regular.ttf');
}
